

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --bg-background:#211818;
    --text-color:#eee4e4;
    --nav-color: rgb(57, 69, 69);
}


body{
    font-family: 'Raleway', sans-serif;
    background: var(--bg-background);
    color: var(--text-color);
    line-height: 1.6;
    height: 999999px;
}

/* Utilities */
a{
    text-decoration: none;
}



/* Main nav */
#main-nav{
    background-color: var(--nav-color);
    padding: 1rem;
    position:sticky;
    z-index: 23;
    top: 0;
}

#main-nav .container{
    display: flex;
    justify-content: space-around;
}

.logo{
    background: url('../images/a.png') no-repeat center center/cover;
    margin-right: 2rem;
    width: 4rem;
}

#menu{
    display: flex;
    list-style: none;
    gap: .89em;
}

#menu a{
    color: var(--text-color);
}

#lang a{
    color: var(--text-color);
}


/* hamburger menu */
#hamburger-menu{
    display: none;
}
